*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #DDDDDD;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 205px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}

.container h3{
  color: #000000;
  margin-bottom: 50px ;
  font-weight: 700;
  font-size: 22px;
} 

.container p{
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}

.container input{
  width: 300px;
  height: 32px;
  margin-left: 80px;
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 5px;
}

.container button{
  width: 100px;
  height: 32px;
  background: #7695EC;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  margin-left: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.container button:disabled{
  background-color: #777777;
  cursor:not-allowed;
}


